@charset "UTF-8";

body, html {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #e5ccae;
    text-align: center;
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 14px;
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
}


#card {
    position: relative;
    top: 8%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 2px black solid;
    border-radius: 4%;
    width: 350px;
    height: 420px;
    background-color: rgb(255, 255, 255);
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    border-bottom-right-radius: 4%;
    border-bottom-left-radius: 4%;
    height: 40px;
    font-size: 1.2em;
}

#info {
    height: 180px;
    background-color: rgb(255, 255, 255);
}

#top {
    height: 200px;
}